@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// DEFINIR COLORES 

$rojo: #D70022;
$grisClaro: #969696;
$negroLight: #323232;
$amarillo: #FDDB3A;
$verdeWhat: #25D366;

// DEFINIR COLORES ---

// FONT FAMILY 

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

// FONT FAMILY ---

// NAV ANIMATION 

nav {
    transform: translateY(-100%);
    opacity: 0;
    transition: .65s;
}

.navAfter {
    transform: translateY(0%);
    opacity: 100;
}

// NAV ANIMATION ---

// HEADER ANIMATION 

header {
    div {
        >:nth-child(1) {
            transform: translateY(-75%);
            opacity: 0;
            transition: 1s;
        }
        >:nth-child(2) {
            transform: translateY(50%);
            opacity: 0;
            transition: 1s;
        }
    }
}

.headerAfter {
    div {
        >:nth-child(1) {
            transform: translateY(0%);
            opacity: 100;
        }
        >:nth-child(2) {
            transform: translateY(0%);
            opacity: 100;
        }
    }
}

// HEADER ANIMATION --

.formulario{
    display: flex;
    flex-flow: column wrap;
    width: min(1200px, 85%);
    margin: 0 auto;
    margin-bottom: 1rem;
    >:nth-child(1){
        text-align: center;
        h4{
            font-size: 20px;
        }
    }
    >:nth-child(2){
        margin: 0 auto;
        width: min(450px, 100%);
        form{
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            width: 100%;
            .inputs-container {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                width: auto;
                padding: 0rem .5rem;
                border: 1px solid black;
                &:hover{
                    box-shadow: 0px 2px 2px rgba(black, .4);
                }
                >:nth-child(1){
                    width: 100%;
                    max-width: 20px;
                    img{
                        width: 100%;
                    }
                }
                input{
                    all: unset;
                    padding: .5rem 0rem;
                    border-radius: 0px 8px 8px 0px;
                    cursor: pointer;
                    font-size: 16px;
                }
                select{
                    all: unset;
                    cursor: pointer;
                    padding: .5rem 0rem;
                    color: #232323;
                }
            }
            button{
                all: unset;
                cursor: pointer;
                padding: .75rem 1rem;
                background: $rojo;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                border-radius: 7.5px;
                color: white;
                font-weight: 500;
                font-size: 17px;
                margin: 0 auto;
                transition: .3s;
                &:hover{
                    scale: 1.025;
                    transition: .3s;
                }
            }
        }
    }
}

// CREACIÓN DE BARRAS NAV 1 Y NAV 2 

body {
    >:nth-child(1) {
        background: rgb(255, 255, 255);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: .75rem 0rem;
        place-content: center;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
        >:nth-child(1) {
            width: 85%;
            max-width: 1200px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            >:nth-child(1) {
                font-size: 16px;
                color: rgb(0, 0, 0);
            }
            >:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 1rem;
                a {
                    display: flex;
                    place-content: center;
                    align-items: center;
                    div {
                        width: 25px;
                        svg {
                            fill: rgb(0, 0, 0);
                            width: 100%;
                            &:hover {
                                scale: 1.2;
                            }
                        }
                    }
                }
            }
        }
    }
    >:nth-child(2) {
        width: 100%;
        background: url('../IMG/background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        >:nth-child(1) {
            display: flex;
            width: 85%;
            max-width: 1200px;
            margin: 0 auto;
            align-items: center;
            place-content: center;
            justify-content: space-between;
            flex-flow: column nowrap;
            gap: 1.5rem;
            padding: 2.25rem 0rem;
            height: 100%;
            >:nth-child(1) {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                >:nth-child(1) {
                    display: none;
                }
                >:nth-child(2) {
                    width: 100%;
                    max-width: 225px;

                    img {
                        width: 100%;

                    }
                }
                >:nth-child(3) {
                    display: flex;
                    flex-flow: row wrap;
                    gap: 1rem;

                    a {
                        all: unset;
                        font-size: 17px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: .15rem;
                        }
                    }
                }
            }
            >:nth-child(2) {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                gap: 1.75rem;
                >:nth-child(1) {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    gap: .5rem;
                    display: none;
                    a {
                        display: flex;
                        place-content: center;

                        div {
                            width: 35px;

                            svg {
                                width: 100%;
                            }
                        }
                    }
                }
                >:nth-child(2) {
                    font-size: 17px;
                    color: $rojo;
                }
                >:nth-child(3) {
                    width: 100%;
                    text-align: center;
                }
                >:nth-child(4) {
                    all: unset;
                    display: flex;
                    background: $verdeWhat;
                    flex-flow: row wrap;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: .3s;
                    align-items: center;
                    gap: 1rem;
                    padding: .75rem 1.5rem;
                    cursor: pointer;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
                    &:hover {
                        scale: 1.05;
                        transition: .3s;
                    }
                    >:nth-child(1) {
                        h5 {
                            all: unset;
                            color: white;

                        }
                    }
                    >:nth-child(2) {
                        width: 35px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// CREACIÓN DE BARRAS NAV 1 Y NAV 2 ---

// MEDIAS (875px) CREACIÓN DE BARRAS NAV 1 Y NAV 2 

@media(max-width: 875px) {
    body {
        >:nth-child(1) {
            >:nth-child(1) {
                width: 90%;
                justify-content: center;
                >:nth-child(1) {
                    text-align: center;
                    font-size: 14px;
                }
                >:nth-child(2) {
                    display: none;
                }
            }
        }
        >:nth-child(2) {
            >:nth-child(1) {
                width: 90%;
                gap: 2.5rem;
                padding: 2.25rem 0rem;
                >:nth-child(1) {
                    a {
                        all: unset;
                        font-size: 15px;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: .15rem;
                        }
                    }
                    >:nth-child(1) {
                        width: 33%;
                        display: flex;
                    }
                    >:nth-child(2) {
                        width: 33%;
                        max-width: 200px;
                    }
                    >:nth-child(3) {
                        width: 33%;
                        justify-content: flex-end;

                        >:nth-child(1) {
                            font-size: 15px;
                        }
                        >:nth-child(2) {
                            display: none;
                        }
                    }
                }
                >:nth-child(2) {
                    gap: 1.5rem;
                    >:nth-child(1) {
                        gap: 1.75rem;
                        display: flex;
                        a {
                            display: flex;
                            place-content: center;
                            div {
                                width: 25px;
                                svg {
                                    width: 100%;
                                    fill: $rojo;
                                }
                            }
                        }
                    }
                    >:nth-child(2) {
                        font-size: 16px;
                        color: $rojo;
                    }
                    >:nth-child(3) {
                        width: 100%;
                        text-align: center;
                        h2 {
                            all: unset;
                            font-weight: 600;
                            font-size: 35px;
                            br {
                                display: none;
                            }
                        }
                    }
                    >:nth-child(4) {
                        padding: .55rem 1.35rem;
                        >:nth-child(2) {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

// MEDIAS (875px) CREACIÓN DE BARRAS NAV 1 Y NAV 2 

@media(max-width: 475px) {
    body{
        >:nth-child(2) {
            >:nth-child(1) {
                width: 90%;
                gap: 2.5rem;
                padding: 2.25rem 0rem;
                >:nth-child(1) {
                    flex-flow: column wrap;
                    gap: .75rem;
                    >:nth-child(1) {
                        width: auto;
                        display: none;
                    }
                    >:nth-child(2) {
                        width: auto;
                        max-width: 200px;
                    }
                    >:nth-child(3) {
                        flex-flow: row wrap;
                        width: auto;
                        justify-content: center;
                        >:nth-child(1) {
                            font-size: 15px;
                        }
                        >:nth-child(2) {
                            display: flex;
                        }
                    }
                }
                >:nth-child(2) {
                    gap: 1.5rem;
                    >:nth-child(1) {
                        gap: 1.75rem;
                        display: flex;
                        a {
                            display: flex;
                            place-content: center;
                            div {
                                width: 22.5px;
                                svg {
                                    width: 100%;
                                    fill: $rojo;
                                }
                            }
                        }
                    }
                    >:nth-child(2) {
                        font-size: 16px;
                        color: $rojo;
                    }
                    >:nth-child(3) {
                        width: 100%;
                        text-align: center;
                        h2 {
                            all: unset;
                            font-size: 27.5px;
                        }
                    }
                }
            }
        }
    }
}

// MAIN 

// SLIDER

.slider {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        border-radius: 20px;
        .slide {
            min-width: 100%;
            width: 100%;
            box-sizing: border-box;
            img {
                border-radius: 20px;
                width: 100%;
            }
        }
    }
    .dots {
        text-align: center;
        padding: 10px 0;
        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .dot.active {
        background-color: #2e2e2e;
    }
}

// SLIDER ---

// SLIDER 2

.slider2 {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    .slides2 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        border-radius: 20px;
        .slide2 {
            min-width: 100%;
            width: 100%;
            box-sizing: border-box;
            img {
                border-radius: 20px;
                width: 100%;
            }
        }
    }
    .dots2 {
        text-align: center;
        padding: 10px 0;
        .dot2 {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .dot2.active {
        background-color: #2e2e2e;
    }
}

// SLIDER 2 ---

body {
    main {
        padding: 3.5rem 0rem 0rem 0rem;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
        >:nth-child(1) {
            width: 85%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            gap: 3.5rem;
            >:nth-child(1) {
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                gap: 1.5rem;
                >:nth-child(1){
                    display: flex;
                    flex-flow: column wrap;
                    text-align: center;
                    gap: 2rem;
                    padding: 1rem 0rem;
                    h2, p{
                        all: unset;
                    }
                    h2{
                        font-size: 30px;
                        span{
                            color: $rojo;
                        }
                    }
                    p{
                        font-size: 22px;
                    }
                }
                >:nth-child(2) {
                    display: flex;
                    align-items: center;
                    gap: .75rem;
                    >:nth-child(1) {
                        height: 1.5px;
                        width: 45px;
                        background: black;
                    }
                    >:nth-child(2) {
                        h4 {
                            all: unset;
                            color: $rojo;
                            font-size: 17px;
                        }
                    }
                }
                >:nth-child(3) {
                    display: flex;
                    flex-flow: column wrap;
                    gap: .75rem;
                    h3,
                    p {
                        all: unset;
                    }
                    h3 {
                        font-size: 35px;
                        font-weight: 600;
                        color: $negroLight;
                    }
                    p {
                        color: $grisClaro;
                        font-size: 16px;
                    }
                }
            }
            >:nth-child(2) {
                text-align: center;
                display: flex;
                flex-flow: column wrap;
                >:nth-child(1),
                >:nth-child(2) {
                    text-align: justify;
                    span {
                        font-weight: 700;
                        color: black;
                        font-size: 18px;
                    }
                }
                span {
                    color: $rojo;
                }
            }
            >:nth-child(3) {
                border-radius: 12px;
                background: $amarillo;
                padding: 1.2rem 3rem;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
                transform: translateY(50%);
                cursor: pointer;
                &:hover {
                    scale: 1.05;
                    transform: translateY(47.5%);
                }
                h5 {
                    all: unset;
                    font-size: 17px;
                    font-weight: 800;
                }
            }
        }
    }
}

// MAIN ---

// MEDIAS (875px) MAIN 

@media(max-width: 875px) {
    body {
        main {
            padding: 2.5rem 0rem 0rem 0rem;
            >:nth-child(1) {
                width: 90%;
                gap: 3rem;
                >:nth-child(1) {
                    gap: 1.35rem;
                    >:nth-child(1){
                        h2{
                            font-size: 25px;
                            br{
                                display: none;
                            }
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                    >:nth-child(2){
                        gap: .7rem;
                        >:nth-child(1) {
                            height: 1.45px;
                            width: 42.5px;
                        }
                        >:nth-child(2) {
                            h4 {
                                font-size: 16px;
                            }
                        }
                    }
                    >:nth-child(2) {
                        gap: .7rem;
                        h3 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }
                >:nth-child(4) {
                    h5 {
                        font-size: 16.5px;
                    }
                }
            }
        }
    }
}

// MEDIAS (875px) MAIN ---

// MAIN ANIMATION

.startAnimation {
    transform: translateY(-75%);
    opacity: 0;
    transition: 1s;
}

.startAnimationCarousel {
    scale: .5;
    opacity: 0;
    transition: 1s;
}

.animationN1 {
    transform: translateY(0%);
    opacity: 100;
    scale: 1;
}

// MAIN ANIMATION ---

// SECTION 

body {
    section {
        padding-top: 5rem;
        >:nth-child(1) {
            width: 85%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            gap: 5.5rem;

            >:nth-child(1) {
                text-align: center;
                font-size: 16.5px;

                span {
                    color: $rojo;
                }
            }

            >:nth-child(2) {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                div {
                    display: flex;
                    flex-flow: row wrap;
                    width: 49%;
                    justify-content: space-between;

                    div {
                        width: 48%;
                        display: flex;
                        flex-flow: column wrap;
                        gap: .85rem;
                        text-align: center;
                        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
                        padding: 2rem 0rem;
                        border-radius: 17.5px;

                        h5,
                        p {
                            all: unset;
                        }

                        h5 {
                            font-size: 37.5px;
                            font-weight: 700;
                        }

                        p {
                            font-size: 20px;
                        }
                    }
                }

            }
        }
    }
}

// SECTION ---

// SECTION CARDS ANIMATION

.cardAnimation {
    transform: translateY(100%);
    opacity: 50%;
}

.cardAnimationAfter {
    transform: translateY(0%);
    opacity: 100%;
}

// SECTION CARDS ANIMATION

// SECTION MEDIAS (875px) FIRST PART

@media(max-width:875px) {
    body {
        section {
            padding-top: 3.5rem;

            >:nth-child(1) {
                width: 90%;
                gap: 2rem;

                >:nth-child(1) {
                    font-size: 16px;
                }

                >:nth-child(2) {
                    div {
                        display: flex;
                        flex-flow: column wrap;
                        width: 47%;
                        gap: 1.5rem;
                        justify-content: space-between;

                        div {
                            width: 100%;
                            display: flex;
                            flex-flow: column nowrap;
                            gap: 2rem;
                            text-align: center;
                            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
                            padding: 2rem 0rem;
                            border-radius: 17.5px;

                            h5 {
                                font-size: 32.5px;
                            }

                            p {
                                font-size: 17px;
                            }
                        }
                    }

                }
            }
        }
    }
}

// SECTION MEDIAS (875px) FIRST PART ---

// SECTION SECOND PART

body {
    section {
        >:nth-child(1) {
            >:nth-child(3) {
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                gap: 1.5rem;

                >:nth-child(1) {
                    display: flex;
                    align-items: center;
                    gap: .75rem;

                    >:nth-child(1) {
                        height: 1.5px;
                        width: 45px;
                        background: black;
                    }

                    >:nth-child(2) {
                        h4 {
                            all: unset;
                            color: $rojo;
                            font-size: 17px;
                        }
                    }
                }

                >:nth-child(2) {
                    span {
                        font-weight: 600;
                    }
                }

                >:nth-child(3) {
                    display: flex;
                    flex-flow: column wrap;
                    gap: .75rem;

                    h3,
                    p {
                        all: unset;
                    }

                    h3 {
                        font-size: 35px;
                        font-weight: 600;
                        color: $negroLight;
                    }

                    p {
                        color: $grisClaro;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// SECTION SECOND PART ---

// SECTION OPINIONS PART

body {
    section {
        >:nth-child(1) {
            >:nth-child(4) {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                gap: 2.25rem;

                >:nth-child(1),
                >:nth-child(2) {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;

                    >div {
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: space-between;
                        gap: 1rem;
                        box-shadow: 0px 0px 2px 2px rgb(218, 218, 218);
                        border-radius: 12.5px;
                        width: 32%;
                        position: relative;
                        padding: 1rem 0rem;

                        >:nth-child(1) {
                            position: absolute;
                            border-radius: 50%;
                            height: 35px;
                            width: 35px;
                            background: $rojo;
                            top: 0;
                            transform: translateY(-50%) translateX(50%);
                        }

                        >:nth-child(2) {
                            margin: 0 auto;
                            width: 90%;
                            padding: 1rem 0rem;

                            p {
                                all: unset;
                                color: $negroLight;
                                line-height: 1.25rem;
                            }
                        }

                        >:nth-child(3) {
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-between;
                            margin: 0 auto;
                            width: 90%;
                            border-top: 1px solid black;
                            padding: 1rem 0rem;

                            >:nth-child(1) {
                                display: flex;
                                flex-flow: row wrap;
                                align-items: center;
                                gap: 1rem;

                                >:nth-child(1) {
                                    width: 100%;
                                    max-width: 40px;

                                    img {
                                        border-radius: 50%;
                                        width: 100%;
                                    }
                                }

                                >:nth-child(2) {
                                    h4 {
                                        all: unset;
                                        font-size: 16px;
                                        font-weight: 600;
                                    }
                                }
                            }

                            >:nth-child(2) {
                                display: flex;
                                flex-flow: row wrap;
                                align-items: center;
                                gap: .15rem;

                                div {
                                    width: 100%;
                                    max-width: 15px;

                                    svg {
                                        width: 100%;
                                        fill: $amarillo;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// SECTION OPINIONS PART ---

// SECTION OPINIONS THIRD PART MEDIAS (875px)

@media(max-width:875px) {
    body {
        section {
            >:nth-child(1) {
                >:nth-child(4) {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 2.25rem;

                    >:nth-child(1),
                    >:nth-child(2) {
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: space-between;
                        gap: 2.25rem;

                        >div {
                            gap: .75rem;
                            width: 100%;
                            padding: .75rem 0rem;

                            >:nth-child(1) {
                                height: 30px;
                                width: 30px;
                            }

                            >:nth-child(2) {
                                padding: .75rem 0rem;

                                p {
                                    font-size: 15.5px;
                                }
                            }

                            >:nth-child(3) {
                                padding: .75rem 0rem;

                                >:nth-child(1) {
                                    gap: .75rem;

                                    >:nth-child(1) {
                                        max-width: 35px;
                                    }
                                }

                                >:nth-child(2) {
                                    div {
                                        max-width: 17px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// SECTION OPINIONS THIRD PART MEDIAS (875px) ---

// SECTION FOURTH PART 

body {
    section {
        >:nth-child(1) {
            >:nth-child(5) {
                display: flex;
                margin: 0 auto;
                flex-flow: column wrap;
                align-items: center;
                text-align: center;
                gap: 3.5rem;
                width: 80%;
                max-width: 1200px;
                box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
                border-radius: 15px;
                padding: 2.25rem 0rem;
                margin-top: -2rem;
                h3,p {
                    all: unset;
                }
                >:nth-child(2){
                    margin: 0 auto;
                    width: 80%;
                }
                h3 {
                    font-size: 25px;
                    font-weight: 700;
                }
                >:nth-child(3) {
                    all: unset;
                    background: $verdeWhat;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    gap: 1rem;
                    transition: .5s;
                    border-radius: 15px;
                    padding: 1rem 2.15rem;
                    cursor: pointer;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
                    h5 {
                        all: unset;
                        color: white;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    &:hover {
                        scale: 1.05;
                        transition: .5s;
                    }
                }
            }
        }
    }
}

// SECTION FOURTH PART --

// MEDIAS (875px) SECTION FOURTH PART 

@media(max-width:875px) {
    body {
        section {
            >:nth-child(1) {
                >:nth-child(5) {

                    h3,
                    p {
                        all: unset;
                    }

                    h3 {
                        font-size: 17px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

// MEDIAS (875px) SECTION FOURTH PART --

// FOOTER

body {
    footer {
        margin-top: 3.5rem;
        display: flex;
        flex-flow: column wrap;
        gap: 2rem;
        >:nth-child(1) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            justify-content: space-between;
            align-items: flex-end;
            >:nth-child(1) {
                display: flex;
                flex-flow: column wrap;
                gap: 2rem;
                >:nth-child(1) {
                    width: 100%;
                    max-width: 350px;
                    img {
                        width: 100%;
                    }
                }
                >:nth-child(2) {
                    p {
                        color: $rojo;
                    }
                }
                >:nth-child(3) {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    gap: 1rem;
                    div {
                        cursor: pointer;
                        a {
                            border-radius: 50%;
                            display: flex;
                            place-content: center;
                            align-items: center;

                            svg {
                                width: 100%;
                                fill: rgb(0, 0, 0);
                            }
                        }
                    }
                }
            }
            >:nth-child(2) {
                display: flex;
                flex-flow: column wrap;
                div {
                    display: flex;
                    flex-flow: row wrap;
                    gap: .5rem;
                    align-items: center;
                    a{
                        all: unset;
                        color: #0000FF;
                        cursor: pointer;
                        text-decoration: underline;
                        margin: .65rem 0rem;
                    }
                }
            }
        }
        >:nth-child(2) {
            background: $rojo;
            padding: .5rem 0rem;
            text-align: center;
            color: white;
        }
    }
}

// FOOTER ---

// MEDIAS (875px) FOOTER

@media(max-width:750px) {
    body {
        footer {
            margin-top: 3.5rem;
            display: flex;
            flex-flow: column wrap;
            gap: 2rem;

            >:nth-child(1) {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                justify-content: space-between;
                align-items: flex-end;
                gap: 1rem;

                >:nth-child(1) {
                    display: flex;
                    flex-flow: column wrap;
                    gap: 2rem;
                    align-items: center;
                    width: 100%;

                    >:nth-child(1) {
                        width: 100%;
                        max-width: 350px;

                        img {
                            width: 100%;
                        }
                    }

                    >:nth-child(2) {
                        p {
                            color: $rojo;
                        }
                    }

                    >:nth-child(3) {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        gap: 1rem;

                        div {
                            cursor: pointer;

                            a {
                                border-radius: 50%;
                                display: flex;
                                place-content: center;
                                align-items: center;

                                svg {
                                    width: 100%;
                                    fill: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }

                >:nth-child(2) {
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    width: 100%;

                    div {
                        display: flex;
                        flex-flow: row wrap;
                        gap: .5rem;
                        align-items: center;
                    }

                }
            }

            >:nth-child(2) {
                background: $rojo;
                padding: .5rem 0rem;
                text-align: center;
                color: white;
            }
        }
    }
}

// MEDIAS (875px) FOOTER ---

// preguntas frecuentes

.preguntasFrecuentes {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;

    >:nth-child(1) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;

        >:nth-child(1) {
            width: 45px;
            height: 1.5px;
            background: $rojo;
        }

        h2 {
            color: $rojo;
        }
    }
}

// preguntas frecuentes ---

// WhatsApp screen 
     
.whatsappScreenPositionInternal{
    position: fixed;
    margin-bottom: 1rem;
    margin-right: 1rem;
    right: 0;
    bottom: 0%;
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    gap: .5rem;
    .modalWindow{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        transform: translateY(25%);
        opacity: 0%;
        visibility: 0;
        >:nth-child(1){
            background: linear-gradient(to right, #25D366, #128C7E); 
            display: flex;
            flex-flow: column wrap;
            border-radius: 12px 12px 0px 0px;
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
            >:nth-child(1), >:nth-child(2){
                margin: 0 auto;
                width: 90%;
            }
            >:nth-child(1){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                padding: .65rem 0rem;
                width: 85%;
                >:nth-child(1){
                    p{
                        all: unset;
                        font-size: 17px;
                        color: rgb(255, 255, 255);
                        font-weight: 500;
                    }
                }
                >:nth-child(2){
                    width: min(30px, 100%);
                    img{
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
            >:nth-child(2){
                border-radius: 6px 6px 0px 0px;
                background: url("../IMG/fondoWhatsApp.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                padding: 1rem 0rem 0rem 0rem;
                gap: 6.5rem;
                >:nth-child(1){
                    margin: 0 auto;
                    width: 100%;
                    max-width: 90%;
                    border-radius: 12px;
                    display: flex;
                    place-content: center;
                    align-items: center;
                    padding: .5rem 0rem;
                    background: #DCF8C6;
                    >:nth-child(1){
                        margin: 0 auto;
                        width: 94%;
                    }
                }
                >:nth-child(2){
                    border-top: 1px solid #c8c8c8;
                    background-color: white;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: space-between;
                    >:nth-child(1){
                        margin: 0 auto;
                        width: 90%;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: space-between;
                        textarea{
                            all: unset;
                            background: white;
                            resize: none;
                            border: none;
                            font-weight: 400;
                            transform: translateY(20%) translateX(3.5%);
                        }
                    }
                    button{
                        all: unset;
                        cursor: pointer;
                        width: min(26px, 100%);
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .modalWindowNew{
        transform: scale(1) translateY(0%) translateX(0%);
        opacity: 100%;
        visibility: 1;
    }
    .whatsappCallAction{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        z-index: 2000;
        >:nth-child(1){
            width: min(50px, 100%);
            &:hover{
                transform: scale(1.05);
            }
            img{
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .messengerCallAction{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        z-index: 2000;
        >:nth-child(1){
            scale: .85;
            width: min(50px, 100%);
            &:hover{
                transform: scale(1.05);
            }
            img{
                width: 100%;
                cursor: pointer;
            }
        }
    }
}

// WhatsApp screen ---