@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.whatsapp-inegration {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  left: 0;
  top: 0;
  overflow: hidden;
}
.whatsapp-inegration .whatsappModal {
  position: fixed;
  right: 2.5%;
  bottom: 4%;
  width: min(35px, 100%);
  background: #25d366;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  place-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0.1px #444444;
  cursor: pointer;
}
.whatsapp-inegration .whatsappModal img {
  width: 100%;
}
.whatsapp-inegration .whatsappModal:hover {
  transform: scale(1.05);
}
.whatsapp-inegration .modal {
  width: 50%;
  height: 50%;
  background: orange;
  right: 2.5%;
  bottom: 15%;
  position: fixed;
}

nav {
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.65s;
}

.navAfter {
  transform: translateY(0%);
  opacity: 100;
}

header div > :nth-child(1) {
  transform: translateY(-75%);
  opacity: 0;
  transition: 1s;
}
header div > :nth-child(2) {
  transform: translateY(50%);
  opacity: 0;
  transition: 1s;
}

.headerAfter div > :nth-child(1) {
  transform: translateY(0%);
  opacity: 100;
}
.headerAfter div > :nth-child(2) {
  transform: translateY(0%);
  opacity: 100;
}

.formulario {
  display: flex;
  flex-flow: column wrap;
  width: min(1200px, 85%);
  margin: 0 auto;
  margin-bottom: 1rem;
}
.formulario > :nth-child(1) {
  text-align: center;
}
.formulario > :nth-child(1) h4 {
  font-size: 20px;
}
.formulario > :nth-child(2) {
  margin: 0 auto;
  width: min(450px, 100%);
}
.formulario > :nth-child(2) form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
}
.formulario > :nth-child(2) form .inputs-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: auto;
  padding: 0rem 0.5rem;
  border: 1px solid black;
}
.formulario > :nth-child(2) form .inputs-container:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.formulario > :nth-child(2) form .inputs-container > :nth-child(1) {
  width: 100%;
  max-width: 20px;
}
.formulario > :nth-child(2) form .inputs-container > :nth-child(1) img {
  width: 100%;
}
.formulario > :nth-child(2) form .inputs-container input {
  all: unset;
  padding: 0.5rem 0rem;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  font-size: 16px;
}
.formulario > :nth-child(2) form .inputs-container select {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 0rem;
  color: #232323;
}
.formulario > :nth-child(2) form button {
  all: unset;
  cursor: pointer;
  padding: 0.75rem 1rem;
  background: #D70022;
  transition: 0.3s;
  border-radius: 7.5px;
  color: white;
  font-weight: 500;
  font-size: 17px;
  margin: 0 auto;
  transition: 0.3s;
}
.formulario > :nth-child(2) form button:hover {
  scale: 1.025;
  transition: 0.3s;
}

body > :nth-child(1) {
  background: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.75rem 0rem;
  place-content: center;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
}
body > :nth-child(1) > :nth-child(1) {
  width: 85%;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
body > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
body > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body > :nth-child(1) > :nth-child(1) > :nth-child(2) a {
  display: flex;
  place-content: center;
  align-items: center;
}
body > :nth-child(1) > :nth-child(1) > :nth-child(2) a div {
  width: 25px;
}
body > :nth-child(1) > :nth-child(1) > :nth-child(2) a div svg {
  fill: rgb(0, 0, 0);
  width: 100%;
}
body > :nth-child(1) > :nth-child(1) > :nth-child(2) a div svg:hover {
  scale: 1.2;
}
body > :nth-child(2) {
  width: 100%;
  background: url("../IMG/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
body > :nth-child(2) > :nth-child(1) {
  display: flex;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  place-content: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 1.5rem;
  padding: 2.25rem 0rem;
  height: 100%;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: none;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  max-width: 225px;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
  width: 100%;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) a {
  all: unset;
  font-size: 17px;
  cursor: pointer;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) a:hover {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5rem;
  display: none;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a {
  display: flex;
  place-content: center;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a div {
  width: 35px;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a div svg {
  width: 100%;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  font-size: 17px;
  color: #D70022;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  width: 100%;
  text-align: center;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4) {
  all: unset;
  display: flex;
  background: #25D366;
  flex-flow: row wrap;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4):hover {
  scale: 1.1;
  transition: 0.3s;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4) > :nth-child(1) h5 {
  all: unset;
  color: white;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4) > :nth-child(2) {
  width: 35px;
}
body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4) > :nth-child(2) img {
  width: 100%;
}

@media (max-width: 875px) {
  body > :nth-child(1) > :nth-child(1) {
    width: 90%;
    justify-content: center;
  }
  body > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    text-align: center;
    font-size: 14px;
  }
  body > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  body > :nth-child(2) > :nth-child(1) {
    width: 90%;
    gap: 2.5rem;
    padding: 2.25rem 0rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) a {
    all: unset;
    font-size: 15px;
    cursor: pointer;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) a:hover {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: 33%;
    display: flex;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    width: 33%;
    max-width: 200px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    width: 33%;
    justify-content: flex-end;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    font-size: 15px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    display: none;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    gap: 1.5rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    gap: 1.75rem;
    display: flex;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a {
    display: flex;
    place-content: center;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a div {
    width: 25px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a div svg {
    width: 100%;
    fill: #D70022;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
    font-size: 16px;
    color: #D70022;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    width: 100%;
    text-align: center;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(3) h2 {
    all: unset;
    font-weight: 600;
    font-size: 35px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(3) h2 br {
    display: none;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4) {
    padding: 0.55rem 1.35rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(4) > :nth-child(2) {
    width: 30px;
  }
}
@media (max-width: 475px) {
  body > :nth-child(2) > :nth-child(1) {
    width: 90%;
    gap: 2.5rem;
    padding: 2.25rem 0rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    flex-flow: column wrap;
    gap: 0.75rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: auto;
    display: none;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    width: auto;
    max-width: 200px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    flex-flow: row wrap;
    width: auto;
    justify-content: center;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    font-size: 15px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    display: flex;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    gap: 1.5rem;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    gap: 1.75rem;
    display: flex;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a {
    display: flex;
    place-content: center;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a div {
    width: 22.5px;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1) a div svg {
    width: 100%;
    fill: #D70022;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
    font-size: 16px;
    color: #D70022;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(3) {
    width: 100%;
    text-align: center;
  }
  body > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(3) h2 {
    all: unset;
    font-size: 27.5px;
  }
}
.slider {
  position: relative;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}
.slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}
.slider .slides .slide {
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.slider .slides .slide img {
  border-radius: 20px;
  width: 100%;
}
.slider .dots {
  text-align: center;
  padding: 10px 0;
}
.slider .dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}
.slider .dot.active {
  background-color: #2e2e2e;
}

.slider2 {
  position: relative;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}
.slider2 .slides2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
}
.slider2 .slides2 .slide2 {
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.slider2 .slides2 .slide2 img {
  border-radius: 20px;
  width: 100%;
}
.slider2 .dots2 {
  text-align: center;
  padding: 10px 0;
}
.slider2 .dots2 .dot2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}
.slider2 .dot2.active {
  background-color: #2e2e2e;
}

body main {
  padding: 3.5rem 0rem 0rem 0rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
body main > :nth-child(1) {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
body main > :nth-child(1) > :nth-child(1) {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  gap: 2rem;
  padding: 1rem 0rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2, body main > :nth-child(1) > :nth-child(1) > :nth-child(1) p {
  all: unset;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
  font-size: 30px;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 span {
  color: #D70022;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) p {
  font-size: 22px;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  height: 1.5px;
  width: 45px;
  background: black;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(2) h4 {
  all: unset;
  color: #D70022;
  font-size: 17px;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(3) h3,
body main > :nth-child(1) > :nth-child(1) > :nth-child(3) p {
  all: unset;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(3) h3 {
  font-size: 35px;
  font-weight: 600;
  color: #323232;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(3) p {
  color: #969696;
  font-size: 16px;
}
body main > :nth-child(1) > :nth-child(2) {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}
body main > :nth-child(1) > :nth-child(2) > :nth-child(1),
body main > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  text-align: justify;
}
body main > :nth-child(1) > :nth-child(2) > :nth-child(1) span,
body main > :nth-child(1) > :nth-child(2) > :nth-child(2) span {
  font-weight: 700;
  color: black;
  font-size: 18px;
}
body main > :nth-child(1) > :nth-child(2) span {
  color: #D70022;
}
body main > :nth-child(1) > :nth-child(3) {
  border-radius: 12px;
  background: #FDDB3A;
  padding: 1.2rem 3rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(50%);
  cursor: pointer;
}
body main > :nth-child(1) > :nth-child(3):hover {
  scale: 1.05;
  transform: translateY(47.5%);
}
body main > :nth-child(1) > :nth-child(3) h5 {
  all: unset;
  font-size: 17px;
  font-weight: 800;
}

@media (max-width: 875px) {
  body main {
    padding: 2.5rem 0rem 0rem 0rem;
  }
  body main > :nth-child(1) {
    width: 90%;
    gap: 3rem;
  }
  body main > :nth-child(1) > :nth-child(1) {
    gap: 1.35rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
    font-size: 25px;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 br {
    display: none;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) p {
    font-size: 18px;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    gap: 0.7rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    height: 1.45px;
    width: 42.5px;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(2) h4 {
    font-size: 16px;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    gap: 0.7rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) h3 {
    font-size: 30px;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) p {
    font-size: 16px;
  }
  body main > :nth-child(1) > :nth-child(4) h5 {
    font-size: 16.5px;
  }
}
.startAnimation {
  transform: translateY(-75%);
  opacity: 0;
  transition: 1s;
}

.startAnimationCarousel {
  scale: 0.5;
  opacity: 0;
  transition: 1s;
}

.animationN1 {
  transform: translateY(0%);
  opacity: 100;
  scale: 1;
}

body section {
  padding-top: 5rem;
}
body section > :nth-child(1) {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  gap: 5.5rem;
}
body section > :nth-child(1) > :nth-child(1) {
  text-align: center;
  font-size: 16.5px;
}
body section > :nth-child(1) > :nth-child(1) span {
  color: #D70022;
}
body section > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body section > :nth-child(1) > :nth-child(2) div {
  display: flex;
  flex-flow: row wrap;
  width: 49%;
  justify-content: space-between;
}
body section > :nth-child(1) > :nth-child(2) div div {
  width: 48%;
  display: flex;
  flex-flow: column wrap;
  gap: 0.85rem;
  text-align: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 2rem 0rem;
  border-radius: 17.5px;
}
body section > :nth-child(1) > :nth-child(2) div div h5,
body section > :nth-child(1) > :nth-child(2) div div p {
  all: unset;
}
body section > :nth-child(1) > :nth-child(2) div div h5 {
  font-size: 37.5px;
  font-weight: 700;
}
body section > :nth-child(1) > :nth-child(2) div div p {
  font-size: 20px;
}

.cardAnimation {
  transform: translateY(100%);
  opacity: 50%;
}

.cardAnimationAfter {
  transform: translateY(0%);
  opacity: 100%;
}

@media (max-width: 875px) {
  body section {
    padding-top: 3.5rem;
  }
  body section > :nth-child(1) {
    width: 90%;
    gap: 2rem;
  }
  body section > :nth-child(1) > :nth-child(1) {
    font-size: 16px;
  }
  body section > :nth-child(1) > :nth-child(2) div {
    display: flex;
    flex-flow: column wrap;
    width: 47%;
    gap: 1.5rem;
    justify-content: space-between;
  }
  body section > :nth-child(1) > :nth-child(2) div div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 2rem 0rem;
    border-radius: 17.5px;
  }
  body section > :nth-child(1) > :nth-child(2) div div h5 {
    font-size: 32.5px;
  }
  body section > :nth-child(1) > :nth-child(2) div div p {
    font-size: 17px;
  }
}
body section > :nth-child(1) > :nth-child(3) {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(1) > :nth-child(1) {
  height: 1.5px;
  width: 45px;
  background: black;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(1) > :nth-child(2) h4 {
  all: unset;
  color: #D70022;
  font-size: 17px;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(2) span {
  font-weight: 600;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(3) h3,
body section > :nth-child(1) > :nth-child(3) > :nth-child(3) p {
  all: unset;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(3) h3 {
  font-size: 35px;
  font-weight: 600;
  color: #323232;
}
body section > :nth-child(1) > :nth-child(3) > :nth-child(3) p {
  color: #969696;
  font-size: 16px;
}

body section > :nth-child(1) > :nth-child(4) {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 2.25rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div,
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0px 0px 2px 2px rgb(218, 218, 218);
  border-radius: 12.5px;
  width: 32%;
  position: relative;
  padding: 1rem 0rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(1),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(1) {
  position: absolute;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: #D70022;
  top: 0;
  transform: translateY(-50%) translateX(50%);
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(2),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(2) {
  margin: 0 auto;
  width: 90%;
  padding: 1rem 0rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(2) p,
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(2) p {
  all: unset;
  color: #323232;
  line-height: 1.25rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid black;
  padding: 1rem 0rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(1),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(1) > :nth-child(1),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(1) > :nth-child(1) {
  width: 100%;
  max-width: 40px;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(1) > :nth-child(1) img,
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(1) > :nth-child(1) img {
  border-radius: 50%;
  width: 100%;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(1) > :nth-child(2) h4,
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(1) > :nth-child(2) h4 {
  all: unset;
  font-size: 16px;
  font-weight: 600;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(2),
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.15rem;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(2) div,
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(2) div {
  width: 100%;
  max-width: 15px;
}
body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(2) div svg,
body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(2) div svg {
  width: 100%;
  fill: #FDDB3A;
}

@media (max-width: 875px) {
  body section > :nth-child(1) > :nth-child(4) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1),
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 2.25rem;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div,
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div {
    gap: 0.75rem;
    width: 100%;
    padding: 0.75rem 0rem;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(1),
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(1) {
    height: 30px;
    width: 30px;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(2),
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(2) {
    padding: 0.75rem 0rem;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(2) p,
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(2) p {
    font-size: 15.5px;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3),
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) {
    padding: 0.75rem 0rem;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(1),
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(1) {
    gap: 0.75rem;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(1) > :nth-child(1),
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(1) > :nth-child(1) {
    max-width: 35px;
  }
  body section > :nth-child(1) > :nth-child(4) > :nth-child(1) > div > :nth-child(3) > :nth-child(2) div,
  body section > :nth-child(1) > :nth-child(4) > :nth-child(2) > div > :nth-child(3) > :nth-child(2) div {
    max-width: 17px;
  }
}
body section > :nth-child(1) > :nth-child(5) {
  display: flex;
  margin: 0 auto;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 3.5rem;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 2.25rem 0rem;
  margin-top: -2rem;
}
body section > :nth-child(1) > :nth-child(5) h3, body section > :nth-child(1) > :nth-child(5) p {
  all: unset;
}
body section > :nth-child(1) > :nth-child(5) > :nth-child(2) {
  margin: 0 auto;
  width: 80%;
}
body section > :nth-child(1) > :nth-child(5) h3 {
  font-size: 25px;
  font-weight: 700;
}
body section > :nth-child(1) > :nth-child(5) > :nth-child(3) {
  all: unset;
  background: #25D366;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;
  border-radius: 15px;
  padding: 1rem 2.15rem;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}
body section > :nth-child(1) > :nth-child(5) > :nth-child(3) h5 {
  all: unset;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
body section > :nth-child(1) > :nth-child(5) > :nth-child(3):hover {
  scale: 1.05;
  transition: 0.5s;
}

@media (max-width: 875px) {
  body section > :nth-child(1) > :nth-child(5) h3,
  body section > :nth-child(1) > :nth-child(5) p {
    all: unset;
  }
  body section > :nth-child(1) > :nth-child(5) h3 {
    font-size: 17px;
    font-weight: 700;
  }
}
body footer {
  margin-top: 3.5rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
body footer > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}
body footer > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  width: 100%;
  max-width: 350px;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(2) p {
  color: #D70022;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) div {
  cursor: pointer;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) div a {
  border-radius: 50%;
  display: flex;
  place-content: center;
  align-items: center;
}
body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) div a svg {
  width: 100%;
  fill: rgb(0, 0, 0);
}
body footer > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
}
body footer > :nth-child(1) > :nth-child(2) div {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
}
body footer > :nth-child(1) > :nth-child(2) div a {
  all: unset;
  color: #0000FF;
  cursor: pointer;
  text-decoration: underline;
  margin: 0.65rem 0rem;
}
body footer > :nth-child(2) {
  background: #D70022;
  padding: 0.5rem 0rem;
  text-align: center;
  color: white;
}

@media (max-width: 750px) {
  body footer {
    margin-top: 3.5rem;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
  }
  body footer > :nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
  }
  body footer > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    align-items: center;
    width: 100%;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: 100%;
    max-width: 350px;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(1) img {
    width: 100%;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(2) p {
    color: #D70022;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) div {
    cursor: pointer;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) div a {
    border-radius: 50%;
    display: flex;
    place-content: center;
    align-items: center;
  }
  body footer > :nth-child(1) > :nth-child(1) > :nth-child(3) div a svg {
    width: 100%;
    fill: rgb(0, 0, 0);
  }
  body footer > :nth-child(1) > :nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }
  body footer > :nth-child(1) > :nth-child(2) div {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: center;
  }
  body footer > :nth-child(2) {
    background: #D70022;
    padding: 0.5rem 0rem;
    text-align: center;
    color: white;
  }
}
.preguntasFrecuentes {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
.preguntasFrecuentes > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}
.preguntasFrecuentes > :nth-child(1) > :nth-child(1) {
  width: 45px;
  height: 1.5px;
  background: #D70022;
}
.preguntasFrecuentes > :nth-child(1) h2 {
  color: #D70022;
}/*# sourceMappingURL=styles.css.map */